*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
img{
	display: block;
	width: 100%;
}
.wrapper{
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	
}
.left-side{
	width: 25%;
	min-width: 200px;
	background: blue;
	height: 100vh;
	padding-left: 10px;
	padding-right: 10px;


}
.left-img{
	display: block;
	width: 159px;
	height: 159px;
	border-radius: 50%;
	overflow: hidden;
	background-image: url('https://www.cloudav.ru/upload/iblock/331/pandasecurity-How-do-hackers-pick-their-targets.jpg');
	background-position: center center;
	background-size: 133%;
	margin-left: 15%;

}
.left-info{
	color: #fff;

}
.title{
	border-bottom: 1px solid #dadce0;
	font-size:150%;

}
.info{
	font-family: 'Montserrat', sans-serif;
	font-size: 80%;

}
.subtitle{
	padding-top: 10px;
}
.undertitle{
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
}
.lng-info{
		font-family: 'Montserrat', sans-serif;
		font-size: 75%;
}
.right-side{
	width: 75%;
	min-width: 700px;

	height: 100vh;
	padding-left: 10px;
	

}
.right-title{
	
	border-bottom: 1px solid #dadce0;
	font-size: 125%;
	padding-top: 10px;
	font-family: 'Roboto', sans-serif;

}
.right-name{
	border-bottom: 1px solid #dadce0;
	font-size: 150%;
	font-family: 'Roboto', sans-serif;
	padding-top: 10px;


}
.left-undertitle{
	display: flex;
	justify-content: space-between;
}
.subtitle-right{
	font-family: 'Roboto', sans-serif;
	padding-top: 5px;
}
.right-info{
	padding-top: 3px;
	font-family: 'Source Sans Pro', sans-serif;
}
.date{
	font-family: 'Source Sans Pro', sans-serif;
}

