*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	padding-top: 50px;
	background-color: LightGrey;
}
.wrap{

	margin: 0 auto;
	max-width: 760px;
	background-color: white;
	overflow: hidden;
}

img{
	width: 760px;
}
.text-item{
	text-align: center;
	
}

.main-content{
	margin-top: 50px;
	width: 100%;
	padding: 0 50px;
}
.text-item-2{
	margin-bottom: 20px;
	font-size: 120%;
}
.offer{
	float: left;
	width: 250px;
	height: 450px;
	margin-right: 30px;
	position: relative;

}
.offer:last-child{
	margin-right: 0;
}
.offer-img img{
	width: 100%;
}
.offer-type-2{
	width: calc((100% - 30px * 2) / 3 );
}
.offer-type-1{
	width: calc((100% - 30px) / 2 );

}
.offer-text{
	margin-top: 15px;
	font-size: 120%;
}
.btn{
	width: 100%;
	height: 50px;
	background-color: FireBrick;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	position: absolute;
	top: 380px;
}
.btn:hover{
	background-color: Brown;

}
.btn:active{
	-webkit-box-shadow: 0 0 2px 2px #B30F09;
box-shadow: 0 0 2px 2px #B30F09;
}
.text-bottom{
	font-size: 120%;
}
.text-bottom:first-child{
	margin-bottom: 10px;

}
.bottom-btn-item{
	margin: 20px 0;
}

.btn-bottom{
	width: 100%;
	height: 50px;
	background-color: FireBrick;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin-top: 30px;
}
.btn-bottom:hover{
	background-color: Brown;
}
.btn-bottom:active{
	-webkit-box-shadow: 0 0 2px 2px #B30F09;
box-shadow: 0 0 2px 2px #B30F09;
}
.footer{
	text-align: center;
	margin:20px 0;
	color: white;
}
.footer a{
	color: white;
}

